<div style="background: white;padding: 25px;border-radius: 10px">
    <form class="ui form" dir="rtl" [formGroup]="passwordForm" (ngSubmit)="changePassword()" >
      <div class="ui large header center" style="text-align: center;">تبدیل رمز ورود</div>
      <p></p><p></p>
        <div class="required field">
          <label>رمز</label>
          <input type="password"  placeholder="رمز" formControlName="password">
        </div>
               
        <div class="required field">
          <label>تکرار رمز</label>
          <input type="password"  placeholder="تکرار رمز" formControlName="confirm">
        </div>
               
        <button class="positive ui button" type="submit" [disabled]="!passwordForm.valid">تبدیل</button>
      </form>
      <div class="ui success message" *ngIf="inserted && showMessage" dir="rtl">
        <div class="header">تبدیل موفقانه</div>
        <p>رمز موفقانه تبدیل شد.</p>
      </div>
      <div class="ui negative message" *ngIf="!inserted && showMessage" dir="rtl">
        <div class="header">تبدیل نا موفقانه</div>
        <p>متاسفانه رمز تبدیل نشد</p>
      </div>
      <div class="ui warning message" *ngIf="passwordForm.errors?.mismatch && (passwordForm.controls['confirm'].dirty || passwordForm.controls['confirm'].touched)">
        <div class="header">خطای تخنیکی</div>
        <p>رمز و تکرار رمز یکی نیستند</p>
      </div>
    </div>