
<div class="page-login" dir="rtl">
    <div class="ui two column centered grid container">
      <div class="fourteen wide column">
        <div class="ui icon warning message" *ngIf="error" >
            <i class="lock icon"></i>
            <div class="content">
              <div class="header">
                ورود ناموفق
              </div>
              <p>رمز عبور و یا نام کاربری اشتباه میباشد</p>
            </div>
          </div>
        <div class="ui fluid card">
          <div class="image" >
            <img src="assets/logo.jpg" id="logo">
          </div>
          <div class="content">
          <form class="ui form" [formGroup]="loginForm" (submit)="login()" >
            <div class="field" style="text-align: right;">
              <label>نام کاربری</label>
              <input type="text"  placeholder="نام کاربری " formControlName="username">
            </div>
            <div class="field" style="text-align: right;">
              <label>رمز عبور</label>
              <input type="password"  placeholder="رمز عبور" formControlName="password">
            </div>
            <button class="ui primary labeled icon button" type="submit" [disabled]="!loginForm.valid">
              <i class="unlock alternate icon"></i>
              ورود
            </button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>