<div style="background: white;padding: 25px;border-radius: 10px">
<form  class="ui form" [formGroup]="incomeSearch" (submit)="search()" style="margin: 0 ; padding: 0" dir="rtl">
  <div class="fields">
    
    <div class="three wide field">
        <label>نوع خدمت</label>
        <select class="ui fluid search dropdown" formControlName="service_type">
          <option value="">نوع خدمت</option>
          <option *ngFor="let v of income_types" [value]="v">{{ v }} </option>
          </select>
    </div>
    <div class="three wide field">
      <label>نمبر مسلسل</label>
      <input type="number"   placeholder="نمبر مسلسل" formControlName="service_id">
    </div>
    <div class="four wide field">
      <label>دریافت کننده</label>
      <select class="ui fluid search dropdown" formControlName="received_by">
        <option value="">دریافت کننده</option>
        <option *ngFor="let p of share_holders" [value]="p.id">{{p.name}}</option>
      </select>
    </div>
   
      <div class="five wide field">
        <label >تاریخ</label>
        <div class="two fields">
          <div class="field">
            <input type="number"  maxlength="4" placeholder="سال" formControlName="year">
          </div>
          <div class="field">
            <select class="ui fluid search dropdown" formControlName="month">
              <option value="">ماه</option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          
        </div>
      </div>
    
    <div class="one wide field">
      <label for="">جستجو</label>
      <button class="ui search icon inverted green button" >
          <i class="search icon"></i>
        </button>
    </div>  
    
  </div>
</form>
<hr>
<div *ngIf="isListEmpty "class="ui warning message" dir="rtl">
  <div class="header">لیست خالی</div>
  <p>متاسفانه هیچ دیتایی وجود نداشت</p>
</div>
<div *ngIf="error"class="ui error message" dir="rtl">
  <div class="header">مشکل تخنیکی</div>
  <p>لطفاً دوباره امتحان کنید</p>
</div>

<div [hidden]="isListEmpty">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    <!-- Received by Column -->
    <ng-container matColumnDef="received_by">
      <th mat-header-cell *matHeaderCellDef> دریافت کننده  </th>
      <td mat-cell *matCellDef="let element"> {{findShareHolder(element.received_by)}} </td>
      <td mat-footer-cell *matFooterCellDef class="bold">:مجموعه </td>
    </ng-container>
    <!-- Date Column -->
    <ng-container matColumnDef="received_at">
      <th mat-header-cell *matHeaderCellDef> تاریخ </th>
      <td mat-cell *matCellDef="let element"> {{element.received_at | date}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> مقدار </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      <td mat-footer-cell *matFooterCellDef class="bold"> {{getTotalIncome()}} </td>
    </ng-container>
  
    <!-- Service Id Column -->
    <ng-container matColumnDef="service_id">
      <th mat-header-cell *matHeaderCellDef>نمبر مسلسل</th>
      <td mat-cell *matCellDef="let element"> {{element.service_id}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Service Type Column -->
    <ng-container matColumnDef="service_type">
      <th mat-header-cell *matHeaderCellDef> نوع خدمت</th>
      <td mat-cell *matCellDef="let element"> {{element.service_type}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
         <button class="ui blue button" type ="button" (click)="goToEditPage(element.id)"><i class="edit icon"></i>ویرایش</button>
          </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns" ></tr>
  </table>
  <!-- Angular 8 pagination -->
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons ></mat-paginator> 
</div>
<div *ngIf="items">
  <button class="ui inverted green button" (click)="toExcel()">Excel</button>
  <button class="ui inverted orange button" [useExistingCss]="true" printSectionId="printdiv" ngxPrint>Print</button>
</div>
</div>
<div id="printdiv" [hidden]="true"> 
  <app-print-item [items]="items"></app-print-item>
</div>